<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DK - cars_api</title>
</head>
<body style="text-align: center; margin: 8rem;">
    <img src="https://media-exp3.licdn.com/dms/image/C4D03AQEqDGCQHp11Cg/profile-displayphoto-shrink_200_200/0/1578669846585?e=1629936000&v=beta&t=jGlsuUg7SJDKAydwMFZOgSozvbkZw-AHpirgzcaXUAU"
         alt="Zdjęcie Dominik Kopaczek" style="border-radius: 1rem;">
    <h1 style="font-size: 3rem;">cars_api</h1>
    <p style="font-size: 2rem;">Dostępne endpointy to: <a href="/cars">/cars</a>, <a href="/rate">/rate</a> oraz <a href="/popular">/popular</a>.</p>
    <p style="font-size: 2rem;">Pełny opis projektu znajduje się <a href="https://github.com/kopaczekd/cars_api/blob/main/README.md">tutaj</a>.</p>
    <p style="font-size: 1rem;">Wykonane przez Dominik Kopaczek</p>
</body>
</html>